@import "../../sass/mixins";

.Projects {
  color: white;
  padding-top: 5rem;
  overflow-x: hidden;
  flex-direction: column;
  @include flex(center, space-between);
}

@media screen and (max-width: 750px) {
  .Projects {
    padding-top: 3rem;
  }
}
