@import "../sass/_colors.scss";

@mixin tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  div {
    display: flex;
    flex-direction: column;
    align-self: center;

    h1 {
      margin: 0 0 0.2rem;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@mixin subline {
  background-color: $tittle-color;
  border-radius: 2px;
  width: 80%;
  height: 0.2rem;
  justify-self: center;
  align-self: center;
}
