---
import "../sass/index.scss";
import Navbar from "../components/NavBar/NavBar";
import Header from "../components/Header/Header";
import About from "../components/About/About";
import Skills from "../components/Skills/Skills";
import Contact from "../components/Contact/Contact";
import Projects from "../components/Projects/Projects";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="https://img.icons8.com/emoji/344/waving-hand-emoji.png"
    />
    <script src="../assets/js/scrollReveal.js"></script>
    <title>Portafolio | Cristian Mora</title>
  </head>
  <body>
    <Navbar client:load />
    <Header client:load />
    <About />
    <Projects />
    <Skills />
    <Contact client:load />
  </body>
</html>
